# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Env
.env

# Docker
*.pid
*.log

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Build artifacts
dist/

# credentials
credentials/
service-acount.json