version: "3.9"

services:
  discord-line-bridge:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: discord-line-bridge
    restart: always
    env_file:
      - ./app/.env
    ports:
      - "3000:3000"
    volumes:
      - ./app:/app
      - /app/node_modules
    command: sh -c "node src/server.js & node src/bot.js"